<h3>Advanced Reactive Form</h3>
<br />

<form [formGroup]="profile" (ngSubmit)="onSubmit()">

    <label for="firstName">First Name</label>
    <input type="text" id="firstName" formControlName="firstName" />

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" formControlName="lastName" />

    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" />

    <br />
    <br />

    <div formGroupName="address">

        <label for="street">Street</label>
        <input type="text" id="street" formControlName="street" />

        <label for="city">City</label>
        <input type="text" id="city" formControlName="city" />

        <label for="state">State</label>
        <input type="text" id="state" formControlName="state" />

        <label for="zip">Zip</label>
        <input type="text" id="zip" formControlName="zip" />

    </div>

    <br /><br />

    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" />

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword" />
    <div *ngIf="pForm.confirmPassword.errors.mustMatch" [ngStyle]="{'background-color': '#e68989'}">
        {{pForm.confirmPassword.errors.errorMessage}}
    </div>

    <br />

    <div>Form Status: {{profile.status}}</div>

    <br />

    <button type="button" (click)="resetForm()">Reset</button>

    <button mat-button color="primary" type="submit">Submit</button>

    <br />
    <br />

    <div formArrayName="aliases">
        <button type="button" (click)="insertAlias()">Insert Alias</button>
        <div *ngFor="let alias of aliases.controls; let i = index">
            <label for="alias-{{i}}">Alias-{{i}}</label>
            <input id="alias-{{i}}" [formControlName]="i" />
            <button type="button" (click)="removeItem(i)">X</button>
            {{aliases.at(i).value}}
        </div>
    </div>

</form>