<p>sidebar works!</p>

<button routerLink="/homepage" routerLinkActive="activeLink">Homepage</button>
&nbsp;&nbsp;

<button routerLink="/form" routerLinkActive="activeLink">Form</button>
&nbsp;&nbsp;

<button routerLink="/contact" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">Contact</button>
&nbsp;&nbsp;

<button routerLink="/about" routerLinkActive="activeLink">About</button>
&nbsp;&nbsp;

<button routerLink="/contact/admin" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">Contact
  Admin
</button>

<a routerLink="/contact/users">
  <button>Contact Single-Param</button>
</a>

<!-- <a routerLink="/contact/users/customer">
  <button>Contact Multi-Param</button>
</a> -->

<a routerLink="/contact" [queryParams]="{name: 'sid', year: 2022}" [fragment]="'hello'">
  <button>Contact queryParam property</button>
</a>

<!-- <a routerLink="/team">
  Team
</a> -->